body{
	background: #fff;
}
.cart{
	margin: 100px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
.cart h1{
    text-align: center;
    padding-bottom: 50px;
    color: lightcoral;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 110px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 30px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 60px;
    border-radius: 15px!important;
    font-weight: 700;
    font-size: 25px;
}
.input-group{
	width: unset;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 15px 35px;
	font-size: 20px;
	background-color: lightcoral;
	border: none;
}
footer{
    text-align: center;
    background-color: #F6F5FA ;
}

